.layout-aside {

	section {
		margin-bottom: 1rem;
	}

	header {
		border-color: grey(15);
		background: grey(25);
		color: white;
	}

	.technology__current .progress {
		width: 80%;
	}

	.list-group-item-heading {
		margin-bottom: 0;
	}

	.list-group-item {
		@extend %clickable;
		transition: 0.3s backrgound;

		&:active {
			background: grey(80);
		}

		small {
			color: grey(50);
			font-size: 0.75em;
			opacity: 0;
			transition: 0.3s opacity;
		}

		&:hover small {
			opacity: 1;
		}
	}

	.list-group-item[disabled] {
		$disabled-action: grey(95);

		background: $disabled-action;
		color: darken($disabled-action, 5);
		cursor: not-allowed;
	}

}
