.layout-aside {

	section {
		margin-bottom: 1rem;
	}

	header {
		border-color: grey(15);
		background: grey(25);
		color: white;
	}

	.technology__current .progress {
		width: 80%;
	}

	.map__inventory {
		width: 100%;
		padding: 1rem;
		text-align: center;
		background: grey(30);
	}

	.list-group-item-heading {
		margin-bottom: 0;
	}

	.list-group--nested {
		margin-bottom: 0;

		.list-group-item {
			padding-left: 3rem;
			border-radius: 0;
			border-bottom: 0;

			&:before {
				content: '> ';
			}
		}
	}

	.list-group-item {
		@extend %clickable;
		transition: 0.3s backrgound;

		&:active {
			background: grey(80);
		}

		.thumbnail {
			width: 3rem;
			height: 3rem;
			float: left;
			position: relative;
			bottom: 5px;
			right: 10px;

			@each $sprite in $sprites {
				&--#{$sprite} {
					@extend %sprite--#{$sprite};
				}
			}
		}

		small {
			transition: 0.3s opacity;
			opacity: 0;
			color: grey(50);
			font-size: 0.75em;
		}

		.badge.active {
			background: $color-gold;
		}

		&:hover small {
			opacity: 1;
		}
	}

	.list-group-item[disabled] {
		$disabled-action: grey(95);

		background: $disabled-action;
		cursor: not-allowed;
		color: darken($disabled-action, 5);
	}

}
