.layout-aside {

	section {
		margin-bottom: 1rem;
	}

	header {
		border-color: grey(15);
		background: grey(25);
		color: white;
	}

	.list-group-item-heading {
		margin-bottom: 0;
	}

	.list-group-item[disabled] {
		$disabled-action: grey(95);

		background: $disabled-action;
		color: darken($disabled-action, 5);
		cursor: not-allowed;
	}

}
