.layout-container {
	width: 100%;
	background: rgba(black, 0.15);
	color: white;
	padding: 2rem;
	width: 80%;
	margin: auto;
	display: flex;

	&--map {
		.layout-content {
			width: auto;
		}
	}
}

.layout-container--game-over {
	@extend .layout-container;

	display: block;
	text-align: center;

	p {
		margin-top: 3rem;
	}
}

.layout-content {
	width: 75%;

	p:last-child {
		margin-bottom: 0;
	}
}

.layout-aside {
	margin-left: 2rem;
	flex: 1;
	color: black;
}
