.layout-container {
	width: 100%;
	background: rgba(black, 0.15);
	color: white;
	padding: 2rem;
	width: 80%;
	margin: auto;
	display: flex;
}

.layout-content {
	width: 75%;

	p:last-child {
		margin-bottom: 0;
	}
}

.layout-aside {
	margin-left: 2rem;
	width: 25%;
	color: black;
}
