.layout-container {
	@extend %content;

	@include breakpoint(max-width $screen-sm) {
		flex-direction: column-reverse;
		padding: 1rem;
	}

	&--map {
		.layout-content {
			width: auto;
			display: block;
			flex: none;
		}
	}
}

.layout-container--game-over {
	@extend %content;

	display: block;
	text-align: center;

	p {
		margin-top: 3rem;
	}
}

.layout-content {
	flex: 2;

	p:last-child {
		margin-bottom: 0;
	}
}

.layout-aside {
	flex: 1;
	margin-left: 2rem;
	color: black;

	@include breakpoint(max-width $screen-sm) {
		margin-left: 0;
	}
}
