.layout-header {
	$header-size: 12rem;

	background: grey(20);
	background-image: image-url('header.jpg');
	height: $header-size + 3rem;
	color: white;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	overflow: hidden;

	h1 {
		font-weight: 100;
		text-transform: uppercase;
		margin: 0;
		font-size: $header-size;
		height: $header-size - 0.75rem;
	}
}
