@mixin header-size($size) {
	height: $size + 3rem;

	h1 {
		height: 0.95em;
		font-size: $size;
	}
}

.layout-header {
	$header-size: 12rem;

	display: flex;
	position: relative;
	background: grey(20) image-url('header.jpg');
	overflow: hidden;
	color: white;
	justify-content: center;
	align-items: flex-end;

	h1 {
		margin: 0;
		text-transform: uppercase;
		font-weight: 100;
	}

	nav {
		$padding: 1rem;
		position: absolute;
		top: $padding;
		right: $padding;
	}

	@include header-size($header-size);

	@include breakpoint(min-width $screen-md, max-width $screen-wide) {
		@include header-size($header-size * 0.5);
	}
	@include breakpoint(max-width $screen-md) {
		@include header-size(4rem);
	}
}
