.layout-header {
	$header-size: 12rem;

	display: flex;
	position: relative;
	background: grey(20);
	background-image: image-url('header.jpg');
	height: $header-size + 3rem;
	overflow: hidden;
	color: white;
	justify-content: center;
	align-items: flex-end;

	h1 {
		margin: 0;
		height: $header-size - 0.75rem;
		text-transform: uppercase;
		font-size: $header-size;
		font-weight: 100;
	}

	nav {
		$padding: 1rem;
		position: absolute;
		top: $padding;
		right: $padding;
	}
}
