.layout-navigation {
	@extend %content;
	padding: 0;
	border-bottom: 1px solid grey(15);

	.nav-tabs.nav-justified > li {
		&.active > a,
		> a {
			border: 0;
			border-radius: 0;
			color: white;

			&:hover {
				border: 0;
				color: white;
			}
		}

		&.danger > a,
		&.danger.active > a {
			background: $color-dark-red;
		}

		> a:hover {
			background: rgba(black, 0.25);
		}

		&.active > a {
			background: grey(30);
		}
	}
}
