<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survidle</title>
	<!-- build:css public/builds/css/styles.css -->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="public/components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="public/app/css/styles.css" />
	<!-- endbuild -->
</head>
<body ng-app="survidle" ng-controller="GameController as app">

	<header class="layout-header">
		<h1>Survidle</h1>
		<nav class="btn-group">
			<a class="btn btn-default" ng-click="app.reset()">Reset</a>
		</nav>
	</header>

	<section class="layout-status animate--fade-in">
		<status class="animate--fade-in" ng-show="game.stages.lookUp" label="Day" value="world.getCurrentTime(player.has('sundial'))"></status>
		<status class="animate--fade-in" ng-show="game.stages.gatherFood" label="{{ stat|title }}" max="10" ng-repeat="(stat, current) in player.survival" value="current"></status>
		<status class="animate--fade-in" ng-show="game.stages.gatherFood" label="Inventory" max="player.getInventoryCapacity()" value="player.getInventorySize() / player.getInventoryCapacity()"></status>
	</section>

	<section ng-controller="NavigationController as navigation" ng-if="!player.isDead()">
		<nav class="layout-navigation">
			<ul class="nav nav-tabs nav-justified">
				<li ng-repeat="pane in navigation.available" ng-class="{active: navigation.current == pane.key, danger: game.world.getAliveEntities().length > 1 && pane.key == 'encounters'}">
					<a href="#" ng-click="navigation.current = pane.key">{{ pane.key == 'encounters' ? pane.label + ' (' +(game.world.getAliveEntities().length - 1)+ ')' : pane.label }}</a>
				</li>
			</ul>
		</nav>

		<ng-include class="layout-container" src="navigation.getTemplate()"></ng-include>
	</section>

	<section class="layout-container--game-over" ng-if="player.isDead()">
		<h2>You have failed miserably at surviving.</h2>
		<h3>You are now officially nature's bitch.</h3>
		<p><a class="btn btn-default btn-lg" href="#" ng-click="app.reset()">Try again?</a></p>
	</section>

	<!-- build:js public/builds/js/scripts.js -->
	<script src="public/components/jquery/dist/jquery.js"></script>
	<script src="public/components/angular/angular.js"></script>
	<script src="public/components/angular-strap/dist/angular-strap.js"></script>
	<script src="public/components/angular-strap/dist/angular-strap.tpl.js"></script>
	<script src="public/components/chance/chance.js"></script>
	<script src="public/components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="public/components/lodash/dist/lodash.js"></script>
	<script src="public/app/js/helpers.js"></script>
	<script src="public/app/js/Traits/HasInventory.js"></script>
	<script src="public/app/js/Abstracts/AbstractScenery.js"></script>
	<script src="public/app/js/Abstracts/AbstractEntity.js"></script>
	<script src="public/app/js/Controllers/CraftingController.js"></script>
	<script src="public/app/js/Controllers/GameController.js"></script>
	<script src="public/app/js/Controllers/NavigationController.js"></script>
	<script src="public/app/js/Directives/Recipe.js"></script>
	<script src="public/app/js/Directives/Status.js"></script>
	<script src="public/app/js/Entities/Player.js"></script>
	<script src="public/app/js/Entities/Item.js"></script>
	<script src="public/app/js/Entities/Enemy.js"></script>
	<script src="public/app/js/Entities/Sceneries/Forest.js"></script>
	<script src="public/app/js/Entities/World.js"></script>
	<script src="public/app/js/Services/EncountersManager.js"></script>
	<script src="public/app/js/Services/ItemsFactory.js"></script>
	<script src="public/app/js/Filters/Title.js"></script>
	<script src="public/app/js/app.js"></script>
	<!-- endbuild -->
</body>
</html>
