<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survidle</title>
	<!-- build:css public/builds/css/styles.css -->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="public/components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="public/app/css/styles.css" />
	<!-- endbuild -->
</head>
<body ng-app="survidle" ng-controller="GameController">

	<header class="layout-header">
		<h1>Survidle</h1>
	</header>

	<section class="layout-status animate--fade-in">
		<status ng-show="game.stages.lookUp" label="Day" value="world.getCurrentTime(player.has('sundial'))"></status>
		<status ng-show="game.stages.gatherFood" label="{{ stat|title }}" max="10" ng-repeat="(stat, current) in player.survival" value="current"></status>
		<status ng-show="game.stages.gatherFood" label="Inventory" max="player.getInventoryCapacity()" value="player.getInventorySize() / player.getInventoryCapacity()"></status>
	</section>

	<section ng-controller="NavigationController as navigation">
		<nav class="layout-navigation">
			<ul class="nav nav-tabs nav-justified">
				<li ng-repeat="pane in navigation.available" ng-class="{active: navigation.current == pane.key}"><a href="#" ng-click="navigation.current = pane.key">{{ pane.label }}</a></li>
			</ul>
		</nav>

		<ng-include class="layout-container" src="navigation.getTemplate()"></ng-include>
	</section>

	<!-- build:js public/builds/js/scripts.js -->
	<script src="public/components/jquery/dist/jquery.js"></script>
	<script src="public/components/angular/angular.js"></script>
	<script src="public/components/angular-strap/dist/angular-strap.js"></script>
	<script src="public/components/angular-strap/dist/angular-strap.tpl.js"></script>
	<script src="public/components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="public/components/lodash/dist/lodash.js"></script>
	<script src="public/app/js/helpers.js"></script>
	<script src="public/app/js/Traits/HasInventory.js"></script>
	<script src="public/app/js/Abstracts/AbstractScenery.js"></script>
	<script src="public/app/js/Controllers/CraftingController.js"></script>
	<script src="public/app/js/Controllers/GameController.js"></script>
	<script src="public/app/js/Controllers/NavigationController.js"></script>
	<script src="public/app/js/Directives/Recipe.js"></script>
	<script src="public/app/js/Directives/Status.js"></script>
	<script src="public/app/js/Entities/Player.js"></script>
	<script src="public/app/js/Entities/Sceneries/Forest.js"></script>
	<script src="public/app/js/Entities/World.js"></script>
	<script src="public/app/js/Filters/Title.js"></script>
	<script src="public/app/js/app.js"></script>
	<!-- endbuild -->
</body>
</html>
