<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survidle</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="public/builds/css/styles.css" />
</head>
<body ng-app="survidle" ng-controller="GameController as app">

	<header class="layout-header">
		<h1>Survidle</h1>
		<nav class="btn-group">
			<a class="btn btn-default" href="#/changelog">0.1.0</a>
			<a class="btn btn-default" ng-click="game.reset()">Reset</a>
		</nav>
	</header>

	<section class="layout-status animate--fade-in">
		<status class="animate--fade-in" ng-show="game.stages.lookUp" label="Day" value="world.getCurrentTime(player.has('sundial'), technologyTree.hasResearched('calendar'))"></status>
		<status class="animate--fade-in" ng-show="game.stages.gatherFood" label="{{ stat|title }}" max="10" ng-repeat="(stat, current) in player.survival" value="current"></status>
		<status class="animate--fade-in" ng-show="game.stages.gatherFood" label="Inventory" max="player.getInventoryCapacity()" value="player.getInventorySize() / player.getInventoryCapacity()"></status>
	</section>

	<section ng-if="!player.isDead() && app.isBooted()">
		<nav class="layout-navigation">
			<ul class="nav nav-tabs nav-justified">
				<li ng-if="route.label && (route.unlock === true || game.stages[route.unlock])" ng-repeat="route in app.getAvailableRoutes() | orderBy:'order'" ng-class="{active: $route.current.key == route.key, danger: game.world.getEntitiesOnPlayer().length > 1 && route.key == 'map'}">
					<a href="#/{{ route.key }}" ng-if="route.key == 'map'">{{ route.label }} ({{ game.world.getEntitiesOnPlayer().length - 1 }})</a>
					<a href="#/{{ route.key }}" ng-if="route.key !== 'map'">{{ route.label }}</a>
				</li>
			</ul>
		</nav>

		<div ng-view></div>
	</section>

	<section class="layout-container--game-over" ng-if="player.isDead()">
		<h2>You have failed miserably at surviving, killed by <strong>{{ player.killedBy }}</strong></h2>
		<h3>You are now officially nature's bitch.</h3>
		<p><a class="btn btn-default btn-lg" ng-click="game.reset()">Try again?</a></p>
	</section>
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-728496-13', 'auto');
		ga('send', 'pageview');

	</script>
	<script src="public/builds/js/scripts.js"></script>
</body>
</html>
