<div ng-hide="entity.hasEmptyInventory()">
	<header class="list-group-item">
		<h4 class="list-group-item-heading" ng-bind="label"></h4>
	</header>
	<p ng-click="action(item.key)" tooltip-placement="left" tooltip="{{ tooltip }}" class="inventory__item list-group-item" ng-repeat="item in entity.getInventoryContents() | filterByType:['usable', 'resource']">
		<span class="badge">{{ Math.floor(item.quantity) }}</span>
		<span ng-bind="item.name"></span> <small ng-bind="item.description"></small>
	</p>

	<header class="list-group-item" ng-show="filteredStructures.length">
		<h4 class="list-group-item-heading">Structures</h4>
	</header>
	<p class="inventory__item list-group-item" tooltip-placement="left" tooltip="Repair" ng-click="$parent.$parent.map.repair(item)" ng-repeat="item in entity.getInventoryContents() | filterByType:['structure'] as filteredStructures">
		<span class="badge" ng-if="item.multiple">{{ Math.floor(item.quantity) }}</span>
		<span class="badge" ng-if="!item.multiple">{{ Math.round(item.quantity * 100) }}%</span>
		<span ng-bind="item.name"></span> <small ng-bind="item.description"></small>
	</p>

	<header class="list-group-item" ng-show="filteredTools.length">
		<h4 class="list-group-item-heading">Tools</h4>
	</header>
	<p class="inventory__item list-group-item" ng-repeat="item in entity.getInventoryContents() | filterByType:['tool'] as filteredTools">
		<span class="badge">{{ item.quantity * 100 }}%</span>
		<span ng-bind="item.name"></span> <small ng-bind="item.description"></small>
	</p>
</div>

