<header class="list-group-item">
	<h4 class="list-group-item-heading">Inventory ({{ player.getInventoryCapacity() }})</h4>
</header>
<p ng-click="player.drop(item.key)" bs-tooltip="tooltip" data-placement="left" title="Click to drop" class="inventory__item list-group-item" ng-repeat="item in player.getInventoryContents() | filterByType:['usable', 'resource']">
	<span class="badge">{{ Math.floor(item.quantity) }}</span>
	{{ item.name }}
</p>

<header class="list-group-item">
	<h4 class="list-group-item-heading">Structures</h4>
</header>
<p ng-click="player.drop(item.key)" bs-tooltip="tooltip" data-placement="left" title="Sell for 50%" class="inventory__item list-group-item" ng-repeat="item in player.getInventoryContents() | filterByType:['structure']">
	<span class="badge" ng-if="item.multiple">{{ Math.floor(item.quantity) }}</span>
	<span class="badge" ng-if="!item.multiple">{{ item.quantity * 100 }}%</span>
	{{ item.name }}
</p>

<header class="list-group-item">
	<h4 class="list-group-item-heading">Tools</h4>
</header>
<p ng-click="player.drop(item.key)" bs-tooltip="tooltip" data-placement="left" title="Sell for 50%" class="inventory__item list-group-item" ng-repeat="item in player.getInventoryContents() | filterByType:['tool']">
	<span class="badge">{{ item.quantity * 100 }}%</span>
	{{ item.name }}
</p>
