<div class="layout-container layout-container--map" ng-controller="MapController as map">
	<table class="map layout-content">
		<thead class="map__filter map__filter--{{ world.getDayPhase() }}"></thead>
		<tr ng-repeat="row in world.map">
			<td ng-repeat="cell in row" ng-click="map.travel(cell.x, cell.y)" class="cell cell--{{ cell.type }} fog--{{ map.getVisibility(cell) }}">
				<span class="entity entity--{{ entity.type }}" ng-repeat="entity in world.getEntitiesAt(cell.x, cell.y)">
					X
				</span>
			</td>
		</tr>
	</table>
	<aside class="layout-aside">
		<header class="list-group-item">
			<h4 class="list-group-item-heading">Map</h4>
		</header>
		<div class="list-group-item">
			<span class="badge">{{ player.x }}x{{ player.y }}</span>
			Position
		</div>
		<div class="list-group-item">
			<span class="badge">{{ world.getCell(player.x, player.y).type|title }}</span>
			Type
		</div>


		<header class="list-group-item">
			<h4 class="list-group-item-heading">Encounters</h4>
		</header>
		<div class="list-group-item">
			<div class="media enemy enemy--{{ entity.type }}" ng-repeat="entity in world.getEntitiesOnPlayer()">
				<figure class="media-left enemy__avatar">
				</figure>

				<div class="media-body">
					<h4 class="media-heading">{{ entity.name }}</h4>
					<status label="{{ stat|title }}" max="10" ng-repeat="(stat, current) in entity.survival" value="current"></status>
					<div class="enemy__skills">
						<status label="{{ skill|title }}" rounded="true" ng-repeat="(skill, level) in entity.skills" value="level"></status>
					</div>
				</div>
			</div>
		</div>

		<header class="list-group-item">
			<h4 class="list-group-item-heading">Structures</h4>
		</header>
		<div class="list-group-item" ng-repeat="structure in world.getStructuresAt(player.x, player.y)">
			<span class="badge">{{ 1 }}</span>
			{{ structure.type|title }}
		</div>
	</aside>
</div>
