<div class="layout-container" ng-controller="MapController as map">
	<table class="map layout-content">
		<tr ng-repeat="row in world.map">
			<td ng-repeat="cell in row" ng-click="map.travel(cell.x, cell.y)" class="cell cell--{{ cell.type }} fog--{{ Math.round(cell.distanceWith(player)) }}">
				<span class="entity entity--{{ entity.type }}" ng-repeat="entity in world.getEntitiesAt(cell.x, cell.y)">
					X
				</span>
			</td>
		</tr>
	</table>
	<aside class="layout-aside">
		<header class="list-group-item">
			<h4 class="list-group-item-heading">Map</h4>
		</header>
		<div class="list-group-item">
			<span class="badge">{{ player.x }}x{{ player.y }}</span>
			Position
		</div>
		<div class="list-group-item">
			<span class="badge">{{ world.getCell(player.x, player.y).type|title }}</span>
			Type
		</div>

		<header class="list-group-item">
			<h4 class="list-group-item-heading">Structures</h4>
		</header>
		<div class="list-group-item" ng-repeat="structure in world.getStructuresAt(player.x, player.y)">
			<span class="badge">{{ 1 }}</span>
			{{ structure.type|title }}
		</div>
	</aside>
</div>
