<div class="layout-container layout-container--map" ng-controller="MapController as map">

	<table class="map layout-content" ng-class="{'map--placing': map.placingStructure}">
		<!-- Hotzones and filter -->
		<thead class="map__filter map__filter--{{ world.getDayPhase() }}">
		</thead>
		<thead>
			<tr class="map__hotzone map__hotzone--top" ng-click="map.offset('up')"><td>&#9650;</td></tr>
			<tr class="map__hotzone map__hotzone--left" ng-click="map.offset('left')"><td>&#9664;</td></tr>
			<tr class="map__hotzone map__hotzone--bottom" ng-click="map.offset('down')"><td>&#9660;</td></tr>
			<tr class="map__hotzone map__hotzone--right" ng-click="map.offset('right')"><td>&#9654;</td></tr>
		</thead>

		<!-- Map -->
		<tr ng-repeat="row in world.map | after:map.fromY | first:map.visible">
			<td
				ng-repeat="cell in row | after:map.fromX | first:map.visible"
				ng-click="map.placingStructure ? map.build(cell) : map.travel(cell.x, cell.y)"
				class="cell cell--{{ cell.type }}"
				ng-style="{opacity: map.getVisibility(cell)}"
				>
				<span class="decoration" once-style="map.getCellVariation(cell)"></span>
				<span class="entity entity--{{ ::entity.key }}" ng-repeat="entity in world.getEntitiesAt(cell.x, cell.y)">
					X
				</span>
				<span class="structure structure--{{ ::structure.key }}" ng-repeat="structure in world.getStructuresAt(cell.x, cell.y)">
				</span>
			</td>
		</tr>
	</table>

	<aside class="layout-aside">

		<!-- Controls -->
		<div class="btn-group btn-group-xs btn-group-justified map__controls">
			<a class="btn btn-default" ng-click="map.offset('up')">Up</a>
			<a class="btn btn-default" ng-click="map.offset('left')">Left</a>
			<a class="btn btn-default" ng-click="map.center()">Center</a>
			<a class="btn btn-default" ng-click="map.offset('right')">Right</a>
			<a class="btn btn-default" ng-click="map.offset('down')">Down</a>
		</div>

		<!-- Alerts -->
		<alert type="{{ ::alert.type }}" close="game.logs.close($index)" ng-repeat="alert in game.logs.alerts" ng-bind="::alert.message"></alert>

		<!-- Current player infos -->
		<header class="list-group-item">
			<h4 class="list-group-item-heading">Player</h4>
		</header>
		<div class="map__inventory">
			<status label="{{ ::item.name }}" ng-repeat="item in player.getItemsOfType('resource')" value="Math.round(item.quantity)"></status>
		</div>
		<div class="list-group-item">
			<span class="badge">{{ player.x }}x{{ player.y }}</span>
			Position
		</div>
		<div class="list-group-item">
			<span class="badge" ng-bind="world.getPlayerCell().type|ucfirst"></span>
			Type
		</div>
		<div class="list-group-item" ng-click="show.actions = !show.actions" ng-class="{dropup: show.actions}">
			Actions <span class="caret"></span>
		</div>
		<div class="list-group list-group--nested" ng-show="show.actions">
			<a ng-click="game.getScenery().act(action)" ng-repeat="action in game.getScenery().getActions()" class="list-group-item">{{ action.label }}</a>
		</div>
		<div class="list-group-item" ng-click="show.craft = !show.craft" ng-class="{dropup: show.craft}">
			Craft <span class="caret"></span>
		</div>
		<div class="list-group list-group--nested" ng-show="show.craft" ng-controller="CraftingController">
			<a ng-click="crafting.craft(recipe)" ng-show="crafting.isUnlocked(recipe) && crafting.canCraft(recipe)" ng-repeat="recipe in items" class="list-group-item">{{ recipe.name }}</a>
		</div>

		<!-- Craftables -->
		<header class="list-group-item" ng-show="craftable.length">
			<h4 class="list-group-item-heading">Craftable structures</h4>
		</header>
		<p ng-click="map.place(item.key)" tooltip-placement="left" tooltip="Place on map" class="inventory__item list-group-item" ng-class="{'inventory__item--placing': map.placingStructure.key == item.key}" ng-repeat="item in items | filterByType:['structure'] | filter:canCraft as craftable">
			<span ng-bind="item.name"></span> <small ng-bind="item.description"></small>
		</p>

		<!-- Encounters -->
		<header class="list-group-item">
			<h4 class="list-group-item-heading">Encounters</h4>
		</header>
		<div class="list-group-item">
			<div class="media enemy enemy--{{ ::entity.key }}" ng-repeat="entity in world.getEntitiesOnPlayer()">
				<figure class="media-left enemy__avatar enemy__avatar--{{ ::entity.key }}">
				</figure>

				<div class="media-body">
					<h4 class="media-heading" ng-bind="entity.name"></h4>
					<status label="{{ ::stat|ucfirst }}" max="10" ng-repeat="(stat, current) in entity.survival" value="current"></status>
					<div class="enemy__skills">
						<status label="{{ ::skill|ucfirst }}" rounded="true" ng-repeat="(skill, level) in entity.skills" value="level"></status>
					</div>
				</div>
			</div>
		</div>

		<!-- Cell inventory -->
		<inventory entity="world.getPlayerCell()"></inventory>
	</aside>
</div>
