<div class="layout-container">
	<main class="layout-content">
		<h4>Diary</h4>
		<ul class="list-unstyled">
			<li class="ng-animate" ng-repeat="log in game.logs.logs">{{ log }}</li>
		</ul>

		<div class="animate--fade-in" ng-show="game.world.cycle > 3">
			<hr />
			<h4>Alerts</h4>
			<ul class="list-unstyled">
				<li class="alert alert-danger animate--fade-in" ng-show="player.survival.life < 0.5">You are wounded, eat some food to heal yourself</li>
				<li class="alert alert-danger animate--fade-in" ng-show="player.isHungry()">You feel pretty hungry.</li>
				<li class="alert alert-danger animate--fade-in" ng-show="player.hasInventoryFull()">Your inventory is full. Try dropping a few things from it.</li>
				<li class="alert alert-danger animate--fade-in" ng-show="!world.getPlayerCell().hasResources()">You've gathered everything where you're standing, try moving elsewhere.</li>
			</ul>
		</div>

		<div class="animate--fade-in" ng-include="'public/app/templates/crafting.html'" ng-show="game.stages.gatherWood" ng-controller="CraftingController as crafting"></div>
	</main>

	<aside class="layout-aside list-group animate--fade-in" ng-show="game.world.cycle > 3">
		<section ng-include="'public/app/templates/sidebar/actions.html'"></section>
		<inventory entity="player" ng-show="game.stages.gatherFood"></inventory>
		<section ng-show="game.stages.gatherWood" ng-include="'public/app/templates/sidebar/skills.html'"></section>
	</aside>
</div>
