.enemy {
	display: flex;

	&--wolf &__avatar {
		@include centered-image('sprites/wolf.png');
	}

	&--bandit &__avatar {
		@include centered-image('sprites/bandit.png');
	}

	&__avatar {
		margin-right: 1rem;
		background: grey(25);
		width: 7rem;
		height: 7rem;
	}

	img {
		width: 100%;
	}

	&__skills {
		margin-top: 1rem;
	}

	.progress {
		min-width: 10rem;

		&.status--bare {
			min-width: 3rem;
		}
	}
}
