.layout-recipes,
.layout-recipes.collapse.in {
	display: flex;
	flex-wrap: wrap;
}

.recipe__category {
	@extend %clickable;

	background-color: rgba(black, 0.25);
	color: white;
	padding: 0.5em;
	margin: 0 0 0.5em;

	&:hover {
		background-color: rgba(black, 0.15);
	}
}

.recipe {
	@extend %clickable;

	width: 20rem;
	background: rgba(black, 0.25);
	margin-right: 1rem;
	margin-bottom: 1rem;
	transition: background 0.3s;

	h3,
	&__type,
	&__usable {
		text-align: center;
		padding: 0.25em;
		margin: 0;
	}

	h3 {
		@extend %text-shadow;
		background-color: $color-green;
		font-size: 1.75rem;
	}

	&__type,
	&__usable {
		font-size: 1.25rem;
		background: $color-dark-red;
	}

	&__type {
		background: grey(10);
	}

	p {
		padding: 1em;
		margin: 0;
		height: 5em;
	}

	h5 {
		background: rgba(black, 0.25);
		padding: 0.5em;
		margin: 0;
		border-bottom: 1px solid grey(50);
	}

	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 1rem;
	}

	&:hover {
		background: rgba(white, 0.75);
		color: grey(15);

		h3, .recipe__type {
			color: white;
		}
	}
}
