.technology__category {
	.page-header {
		margin: 0;
	}

	& + & .page-header {
		margin-top: 1rem;
	}
}

.technology {
	padding: 1rem;
	display: flex;

	&[disabled] {
		opacity: 0.5;
	}

	img {
		width: 100%;
		margin-bottom: 1rem;
	}

	p {
		height: 3em;
	}

	.media-left,
	.media-body {
		display: block;
	}
	.media-left {
		flex: 1;
	}
	.media-body {
		flex: 10;
	}

	&--researching {
		background: rgba(black, 0.25);
	}
	&--researched {
		background: rgba($color-green, 0.25);
	}
}
