.technology__category {
	.page-header {
		margin: 0;
	}

	& + & .page-header {
		margin-top: 1rem;
	}
}

.technology {
	display: flex;
	padding: 1rem;

	&[disabled] {
		opacity: 0.5;
	}

	img {
		margin-bottom: 1rem;
		width: 100%;
	}

	p {
		height: 3em;
	}

	.media-left,
	.media-body {
		display: block;
	}

	.media-left {
		flex: 1;
	}

	.media-body {
		flex: 10;
	}

	&--researching {
		background: rgba(black, 0.25);
	}

	&--researched {
		background: rgba($color-green, 0.25);
	}
}
