.map {
	$cell-size: 4rem;

	position: relative;
	margin: auto;
	box-shadow: 0 0 0 10px rgba(black, 0.25);
	background: black;
	border-collapse: collapse;
	border-spacing: 0;

	&__controls {
		margin-bottom: 1rem;
	}

	&--placing .cell:hover {
		background: GoldenRod;
	}

	@import 'map/hotzones';
	@import 'map/filter';

	tbody {
		> tr,
		> tr > td {
			border: 0;
		}
	}

	@import 'map/cells';

	.cell {
		@import 'map/entities';
		@import 'map/structures';
	}
}
