.map {
	$cell-size: 4rem;

	border-spacing: 0;
	border-collapse: collapse;
	margin: auto;
	box-shadow: 0 0 0px 10px rgba(black, 0.25);

	tbody {
		> tr,
		> tr > td {
			border: none;
		}
	}

	.cell {
		display: inline-block;
		padding: 1rem;
		text-align: center;
		height: $cell-size;
		width: $cell-size;
		cursor: pointer;

		&--forest {
			@include cell-color($color-green);
		}
		&--tree {
			@include cell-color(darken($color-green, 15));
		}
	}

	.entity {
		display: inline-block;
		background: red;
		padding: 0.5em 1em;
		font-size: 0.75rem;

		&--player {
			background-color: green;
		}
	}
}
