.map {
	$cell-size: 4rem;

	background: black;
	border-spacing: 0;
	border-collapse: collapse;
	margin: auto;
	box-shadow: 0 0 0px 10px rgba(black, 0.25);
	position: relative;

	&__filter {
		$filter-opacity: 0.2;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 5;
		transition: 2s background-color;
		pointer-events: none;
		cursor: pointer;
		background-image: image-url('map.png');

		&--night {
			background-color: rgba(SteelBlue, $filter-opacity);
		}
		&--morning {
			background-color: rgba(Chocolate, $filter-opacity);
		}
	}

	tbody {
		> tr,
		> tr > td {
			border: none;
		}
	}

	@import 'map/cells';

	.cell {
		@import 'map/entities';
		@import 'map/structures';
	}
}
