.map {
	$cell-size: 4rem;

	position: relative;
	margin: auto;
	box-shadow: 0 0 0 10px rgba(black, 0.25);
	background: black;
	border-collapse: collapse;
	border-spacing: 0;

	&--placing .cell:hover {
		background: GoldenRod;
	}

	&__filter {
		$filter-opacity: 0.2;

		position: absolute;
		transition: $map-transitions-duration background-color;
		z-index: 5;
		background-image: image-url('map.png');
		cursor: pointer;
		width: 100%;
		height: 100%;
		pointer-events: none;

		&--night {
			background-color: rgba(SteelBlue, $filter-opacity);
		}

		&--morning {
			background-color: rgba(Chocolate, $filter-opacity);
		}
	}

	tbody {
		> tr,
		> tr > td {
			border: 0;
		}
	}

	@import 'map/cells';

	.cell {
		@import 'map/entities';
		@import 'map/structures';
	}
}
