.layout-recipes {
	display: flex;
}

.recipe {
	width: 20rem;
	background: rgba(black, 0.25);
	cursor: pointer;
	margin-right: 1rem;

	h3 {
		background: rgba(black, 0.25);
		text-align: center;
		padding: 0.25em;
		margin: 0;
	}

	p {
		padding: 1em;
		margin: 0;
		border-bottom: 1px solid grey(50);
	}

	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 1rem;
	}
}
