.layout-recipes {
	display: flex;
}

.recipe {
	width: 20rem;
	background: rgba(black, 0.25);
	cursor: pointer;
	margin-right: 1rem;
	transition: background 0.3s;

	&:hover {
		background: rgba(white, 0.75);
		color: grey(15);
	}

	h3,
	&__usable {
		background: rgba(black, 0.25);
		text-align: center;
		padding: 0.25em;
		margin: 0;
	}

	&__usable {
		font-size: 1.25rem;
		background: $color-dark-red;
	}

	p {
		padding: 1em;
		margin: 0;
	}

	h5 {
		background: rgba(black, 0.25);
		padding: 0.5em;
		margin: 0;
		border-bottom: 1px solid grey(50);
	}

	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 1rem;
	}
}
