.status {
	margin-right: 1rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	min-width: 10rem;

	&--bare {
		background: darken($status-background, 5);
		text-align: center;
		color: white;
	}

	&,
	&__label {
		display: inline-block;
		margin: 0;
		vertical-align: top;
		line-height: 1.4;
	}

	&__label {
		position: relative;
		left: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		box-shadow: inset -2px 0 5px rgba(black, 0.25);
	}
}

@include breakpoint(max-width $screen-xs) {
	status {
		display: block;
		margin-bottom: 0.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.status__label {
		min-width: 6rem;
	}
}
