.technology {

	p {
		height: 3em;
	}

	&[disabled] {
		opacity: 0.5;
	}

	&--researching {
		padding: 1rem;
		background: rgba(black, 0.25);
	}
	&--researched {
		padding: 1rem;
		background: rgba($color-green, 0.25);
	}
}
