%hidden {
}

%shown {
}

.ng-enter {
	transition: 0.3s;
	opacity: 0;
}

.ng-enter-active {
	opacity: 1;
}

.animate--fade-in {
	opacity: 1;
	height: auto;
	transition: 0.3s all;

	&.ng-hide {
		display: block !important;
		opacity: 0;
		height: 0;
		padding: 0;
	}
}
