<article ng-click="$parent.crafting.craft(recipe)" ng-if="$parent.crafting.isUnlocked(recipe)">
	<h3 ng-bind="recipe.name"></h3>
	<h4 class="recipe__type" ng-bind="recipe.type|ucfirst"></h4>
	<h4 class="recipe__usable" ng-if="recipe.usable">Destroyed after use</h4>
	<p ng-bind="recipe.description"></p>
	<ul>
		<h5>Ingredients</h5>
		<li ng-repeat="(ingredient, required) in recipe.ingredients">
			<span ng-bind="ingredient|ucfirst"></span>
			<span class="label label-success" ng-class="{'label-danger': !$parent.player.has(ingredient, required)}" ng-bind="required"></span>
		</li>
	</ul>
	<ul ng-if="recipe.revenues">
		<h5>Revenues</h5>
		<li ng-repeat="(item, revenue) in recipe.revenues">
			<span ng-bind="item|ucfirst"></span>
			<span class="label label-success" ng-bind="revenue"></span>
		</li>
	</ul>
</article>
