<article class="technology media" ng-class="{'technology--researching': technologyTree.isResearching(technology), 'technology--researched': technologyTree.hasResearched(technology)}" ng-disabled="{{ !technologyTree.canResearch(technology) }}">
	<div class="media-left">
		<img src="http://placehold.it/64x64">
		<a class="btn btn-primary btn-block" ng-if="technologyTree.canResearch(technology) && !technologyTree.hasResearched(technology) && !technologyTree.isResearching(technology)" ng-click="technologyTree.research(technology)">Research</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading" ng-bind="::technology.name"></h4>
		<p ng-bind="::technology.description"></p>
	</div>
</article>
