@keyframes water {
	from {
		background-position: left;
	}
	to {
		background-position: right;
	}
}

.cell {
	@extend %clickable;

	display: inline-block;
	position: relative;
	transition: $map-transitions-duration opacity;
	cursor: pointer;
	width: $cell-size;
	height: $cell-size;
	text-align: center;
	transform: translateZ(0);

	.entity,
	.structure {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}

	&:hover {
		box-shadow: inset 0 0 25px 4px rgba(black, 0.75);
	}

	&--forest,
	&--tree,
	&--rock {
		background-color: $color-green;
		background-image: image-url('sprites/forest.jpg');
	}

	&--water {
		background-color: hsl(207, 36%, 29%);
		background-image: image-url('sprites/water.jpg');
		animation: water 5s alternate-reverse infinite;
	}

	.decoration {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&--tree {
			@include centered-image('sprites/tree.png');
		}

		&--rock {
			@include centered-image('sprites/rock.png');
		}
	}
}
