.cell {
	@extend %clickable;

	display: inline-block;
	position: relative;
	transition: $map-transitions-duration opacity;
	cursor: pointer;
	width: $cell-size;
	height: $cell-size;
	text-align: center;
	transform: translateZ(0);

	.entity,
	.structure {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}

	&:hover {
		box-shadow: inset 0 0 25px 4px rgba(black, 0.75);
	}

	&--forest {
		background-color: $color-green;
		background-image: image-url('sprites/forest.jpg');
	}

	&--tree,
	&--rock {
		background-color: darken($color-green, 15);
		background-image: image-url('sprites/tree.png'), image-url('sprites/forest.jpg');
		background-repeat: no-repeat, repeat;
		background-position: center center, 0 0;
	}

	&--rock {
		background-image: image-url('sprites/rock.png'), image-url('sprites/forest.jpg');
	}

	@keyframes water {
		from {
			background-position: left;
		}
		to {
			background-position: right;
		}
	}

	&--water {
		background-color: hsl(207, 36%, 29%);
		background-image: image-url('sprites/water.jpg');
		animation: water 5s alternate-reverse infinite;
	}

	@for $i from 0 through 10 {
		&.fog--#{$i} {
			opacity: $i / 10;
		}
	}
}
