.entity {
	@extend %shadow;
	
	display: inline-block;
	z-index: 5;
	padding: 0.5em 1em;
	font-size: 0.75rem;

	&--player {
		background-color: green;
	}

	&--wolf {
		@include centered-image('sprites/wolf.png');
		color: transparent;
	}

	&--bandits {
		background: red;
	}
}
