.entity {
	@extend %shadow;

	display: inline-block;
	z-index: 15;
	padding: 0.5em 1em;
	font-size: 0.75rem;

	&--player {
		@extend %sprite--player;
		width: 70%;
		height: 70%;
	}

	&--wolf {
		@extend %sprite--wolf;
	}

	&--bandits {
		@extend %sprite--bandits;
		width: 70%;
		height: 70%;
	}
}
