.entity {
	@extend %shadow;

	display: inline-block;
	z-index: 15;
	padding: 0.5em 1em;
	font-size: 0.75rem;

	&--player {
		@include centered-image('sprites/player.png');
		background-size: contain;
		width: 70%;
		height: 70%;
		font-size: 0;
	}

	&--wolf {
		@include centered-image('sprites/wolf.png');
		color: transparent;
	}

	&--bandits {
		background: red;
	}
}
