.structure {
	display: block;
	padding: 0;
	z-index: 0;

	&--cabin {
		width: image-width('sprites/cabin.png');
		height: image-height('sprites/cabin.png');
		@include centered-image('sprites/cabin.png');
	}
	&--field {
		width: 100%;
		height: 100%;
		background-image: image-url('sprites/field.png');
	}
}
