.structure {
	display: block;
	z-index: 0;
	padding: 0;

	&--cabin {
		@include centered-image('sprites/cabin.png');
		width: image-width('sprites/cabin.png');
		height: image-height('sprites/cabin.png');
	}

	&--field {
		background-image: image-url('sprites/field.png');
		width: 100%;
		height: 100%;
	}
}
