.structure {
	@extend %shadow;

	display: block;
	padding: 0;
	z-index: 10;

	&--cabin {
		@include image-block('sprites/cabin.png');
	}

	&--field {
		filter: none;
		background-image: image-url('sprites/field.png');
		width: 100%;
		height: 100%;
	}
}
