@mixin centered-image($image) {
	background-image: image-url($image);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	color: transparent;
}

@mixin image-block($image) {
	@include centered-image($image);
	width: image-width($image);
	height: image-height($image);
}
