// Fonts
//////////////////////////////////////////////////////////////////////

$font-sans: 'Lato', Arial, sans-serif;

// Colors
//////////////////////////////////////////////////////////////////////

$color-green: hsl(150, 15%, 45%);
$color-dark-red: rgba(darken(red, 20), 0.25);
$status-background: grey(25);
$border-color: grey(40);

// Variables
//////////////////////////////////////////////////////////////////////

$sprites : ('player', 'wolf', 'bandits', 'cabin', 'field');
$map-size: 20;
$map-transitions-duration: 5s;

// Breakpoints
//////////////////////////////////////////////////////////////////////

@import '../../../components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';

$screen-wide: 1600px;
