// Fonts
//////////////////////////////////////////////////////////////////////

$font-sans: 'Lato', Arial, sans-serif;

// Colors
//////////////////////////////////////////////////////////////////////

$color-green: hsl(150, 15%, 45%);
